kind: Secret
apiVersion: v1
metadata:
  name: webhook-secret
  namespace: minio-webhook
stringData:
  COS_ENDPOINT=ibm-lh-lakehouse-minio-svc.cp4d.svc.cluster.local:9000
  COS_ACCESS_KEY=minioaccesskey
  COS_SECRET_KEY=miniosecretkey
  APIC_USERNAME=apicadminuser
  APIC_PASSWORD=password
  APIC_ENDPOINT=https://apicURL
  APIC_REALM="provider/default-idp-2"
  APIC_CLIENT_ID=apiclientid
  APIC_CLIENT_SECRET=apicclientsecret
  APIC_ORG=presight
  APIC_CATALOG=presight
type: Opaque  